mixin interaction()
    +connect-points({
      name: 'bacteria-to-type',
      orientation: 'vertical',
      correctLineStyle: { 'stroke': '#069e06' },
      connections: [
        ['coci-img', 'coci-label'],
        ['bacili-img', 'bacili-label'],
        ['spirili-img', 'spirili-label'],
      ]
    })
      .progress-box
      .score-box
      +statement
        p Asociați fiecare imagine cu denumirea tipului de bacterie pe care îl reprezintă.

      .row.d-flex(data-group='bacteria')
        .bacteria.col-xs-4.pin-to
          +img('img/game/p29-interactiv-aplicam-1.jpg')
          .connector(data-name='bacili-img').pin-bottom

        .bacteria.col-xs-4.pin-to
          +img('img/game/p29-interactiv-aplicam-2.jpg')
          .connector(data-name='spirili-img').pin-bottom

        .bacteria.col-xs-4.pin-to
          +img('img/game/p29-interactiv-aplicam-3.jpg')
          .connector(data-name='coci-img').pin-bottom

      .spacer

      .row.d-flex(data-group='types')
          .bacteria-label.col-xs-4.pin-to Coci
            .connector(data-name='coci-label').pin-top
          .bacteria-label.col-xs-4.pin-to Bacili
            .connector(data-name='bacili-label').pin-top
          .bacteria-label.col-xs-4.pin-to Spirili
            .connector(data-name='spirili-label').pin-top