mixin page-number-header(unit, number, title, isEven)
  div.lfa-atom.well.center-block
    div.neg5-header(class=isEven ? 'left blue' : 'right green')
      .unit= unit
      .nr= number
      .title= title