mixin section-bar(sectionType, sectionText = '', hasAction = false, actionIcon = '', action = '')
  - var classValue = '';
  - var iconName = '';

  case sectionType
    when 'remember'
      - classValue = 'bg-red';
      - iconName = 'remember.jpg';
      - if (!sectionText) sectionText = 'Ne amintim';
    when 'learn'
      - classValue = 'bg-green';
      - iconName = 'learn.jpg';
      - if (!sectionText) sectionText = 'Reținem';
    when 'discover'
      - classValue = 'bg-blue';
      - iconName = 'discover.jpg';
      - if (!sectionText) sectionText = 'Descoperim';
    when 'practice'
      - classValue = 'bg-orange';
      - iconName = 'practice.jpg';
      - if (!sectionText) sectionText = 'Lucrare practică';
    when 'apply'
      - classValue = 'bg-purple';
      - iconName = 'apply.jpg';
      - if (!sectionText) sectionText = 'Aplicăm';

  div.lfa-atom.well.center-block
    div.section-bar(class=classValue)
      +img('img/icons/' + iconName)
      p
        strong= sectionText
      if hasAction
        case action
            when 'content-preview'
                div.ami-icon.right-absolute(class=actionIcon).btn(href="#content-preview", data-toggle="modal")

                +modal("content-preview", "Importanta bacteriilor")
                  +img("img/p28-static-retinem.jpg")

            when 'interaction'
                div.ami-icon.right-absolute(class=actionIcon).btn(href="#interaction", data-toggle="modal")

                +modal("interaction", "Joc interactiv")
                    +interaction()