.bg-red
    background-color: #f15b42;
.bg-green
    background-color: #96bc33;
.bg-blue
    background-color: #0054a4;
.bg-purple
    background-color: #ae2471;
.bg-orange
    background-color: #f5821f;
.bg-light-orange
    background-color: #fef1e2;

.color-red
    color: #f15b42;
.color-green
    color: #96bc33;
.color-blue
    color: #0054a4;
.color-purple
    color: #ae2471;
.color-orange
    color: #f5821f;
.color-light-orange
    color: #fef1e2;