@font-face
  font-family: 'IBMPlexSans-Bold';
  src: url('../assets/fonts/IBMPlexSans-Bold.ttf') format('ttf');
@font-face
  font-family: 'IBMPlexSans-Italic';
  src: url('../assets/fonts/IBMPlexSans-Italic.ttf') format('ttf');
@font-face
  font-family: 'IBMPlexSans-Light';
  src: url('../assets/fonts/IBMPlexSans-Light.ttf') format('ttf');
@font-face
  font-family: 'IBMPlexSans-Medium';
  src: url('../assets/fonts/IBMPlexSans-Medium.ttf') format('ttf');
@font-face
  font-family: 'IBMPlexSans-MediumItalic';
  src: url('../assets/fonts/IBMPlexSans-MediumItalic.ttf') format('ttf');
@font-face
  font-family: 'IBMPlexSans-Regular';
  src: url('../assets/fonts/IBMPlexSans-Regular.ttf') format('ttf');
@font-face
  font-family: 'IBMPlexSans-SemiBold';
  src: url('../assets/fonts/IBMPlexSans-SemiBold.ttf') format('ttf');
@font-face
  font-family: 'IBMPlexSerif-Light';
  src: url('../assets/fonts/IBMPlexSerif-Light.ttf') format('ttf');
@font-face
  font-family: 'IBMPlexSerif-Regular';
  src: url('../assets/fonts/IBMPlexSerif-Regular.ttf') format('ttf');
@font-face
  font-family: 'ZapfDingbats';
  src: url('../assets/fonts/ZapfDingbats.ttf') format('ttf');
@font-face
  font-family: 'AdobeFnt22';
  src: url('../assets/fonts/AdobeFnt22.lst') format('lst');
