html
    font-size: 15px!important;
    font-family: "IBMPlexSans-Medium","sans-serif";
    text-align: justify;

body
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fafafa!important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem!important;
    font-family: "IBMPlexSans-Medium","sans-serif"!important;
    text-align: justify;

    .animated #content
        -webkit-transition: opacity .45s ease;
        transition: opacity .45s ease;

    ol.letters,
    ul.bullets,
    ol.numbers
        list-style: none;
        margin: 0;
        padding: 0;
        counter-reset: listStyle;
        font-family: IBMPlexSans-Regular;

        &.orange-bullets li:before,
        &.orange-numbers li:before
            color: #f5821f!important;

        &.purple-bullets li:before
            color: #ae2471!important;

        &.purple-letters li:before
            color: #ae2471!important;

        li
            margin-bottom: 0.5555em;
            padding-left: 17px;
            position: relative;
            counter-increment: listStyle;

            &:before
                color: #0055a6;
                content: counter(listStyle,lower-alpha);
                font-family: IBMPlexSans-Bold!important;
                text-transform: lowercase;
                line-height: 1.3;
                position: absolute;
                top: 0.1rem;
                left: 0;
                font-size: 1rem;

    ul.bullets li:before
        content: "•";

    ol.numbers li:before
        content: counter(listStyle);
        font-family: IBMPlexSans-Bold;
        text-transform: lowercase;
        line-height: 1.3;


    .page-subtitle
        margin-bottom: 0;
        font-family: IBMPlexSans-Semibold;
        padding: 0 0 0.5rem;
        font-size: 1.5rem;

        &.green
            color: #97b829;

    .d-flex
        display: flex!important;

    .align-items-stretch
        align-items: stretch!important;

    .overflow-hidden
        overflow: hidden!important;

    .align-items-flex-end
        align-items: flex-end!important;

    .align-items-flex-start
            align-items: flex-start!important;

    .inline-block
            display: inline-block!important;

    .section-subtitle
        font-size: 1em;
        font-family: "IBMPlexSans-Bold";
        margin-bottom: 1em;

