.ami-icon
      display: inline-block;
      background: #0a55a1;
      margin-right: .4em;
      color: #fff;

      &.static
          background: url(img/amii/buton-amii-static-rosu.svg) 50% no-repeat;
          background-size: contain;
          height: 4em;
          width: 2.5em;

      &.video
          background: url(img/amii/buton-amii-animat-rosu.svg) 50% no-repeat;
          background-size: contain;
          height: 4em;
          width: 2.5em;

      &.interactiv
          background: url(img/amii/buton-amii-interactiv-rosu.svg) 50% no-repeat;
          background-size: contain;
          height: 4em;
          width: 2.5em;


      &.fa
          border-radius: 5px;
          margin-bottom: 5px;
          text-align: center;
          line-height: 2em;
          width: 2em;
          height: 2em;

      &.right-absolute
        position: absolute;
        top: -20%;
        right: -3%;
        transform: scale(110%);

