.connect-points.bacteria-to-type
  p
    color: #000000

  .bacteria-label
    width: 100%
    background-color: #5f9edf
    color: white
    margin: 1em
    padding: 0.3em 0
    text-align: center

    &.hover
        background-color: #5187bf;

  .bacteria
    margin-bottom: 5rem;

    &.hover
        opacity: 0.7

.statement
    p
        color: #000000;

.score-box
    color: #000000;