#content
    width: 100%!important;
    margin: 0 auto;
    height: 100%;

    #scrollview
        overflow-x: hidden;
        overflow-y: auto;

        @media (min-width: 768px)
            padding-bottom: 1.5em;

        #textbook
            padding: 0 1.6rem;
            margin-bottom: 4rem!important;
            border: 0 solid rgba(0,0,0,.2);
            box-shadow: 1px 1px 16px #ccc;
            margin: 1em auto 0;