.row.p28
    display: flex;
    align-items: flex-start;

    .left-col
        width: 10rem;
        background-color: #ebf0da;
        margin-left: -1.6rem;
        margin-top: -1.5rem;
        overflow: hidden;

        .col-section
            width: 80%;
            margin: 4rem auto 0;

            &:first-of-type
                margin-top: 8rem;

            h4
                margin-bottom: 0.5rem;
                font-family: IBMPlexSans-Bold;
                font-size: 0.8em;

                &.dark-orange
                    color: #eb7e1f;
                &.dark-green
                    color: #009f49;
            p
                font-family: IBMPlexSans-Regular;
                line-height: 1.4;
                font-size: 0.875rem;
                text-align: left


    .right-col
        margin: 0 auto;
        width: calc(100% - 10rem);
        margin-bottom: 1.5rem;

        p
            font-family: IBMPlexSans-Regular;
            line-height: 1.4;
