.row.p29
    display: flex;
    align-items: flex-start;

    .right-col
        width: 10rem;
        background-color: #ebf0da;
        margin-right: -1.6rem;
        margin-top: -1.5rem;
        overflow: hidden;
        display: flex;
        align-items: flex-end;

        .col-section
            width: 80%;
            margin: 4rem auto 0;

            &:first-of-type
                margin-top: 8rem;

            h4
                margin-bottom: 0.5rem;
                font-family: IBMPlexSans-Bold;
                font-size: 0.8em;

                &.dark-orange
                    color: #eb7e1f;
                &.dark-green
                    color: #009f49;
            p
                font-family: IBMPlexSans-Regular;
                line-height: 1.4;
                font-size: 0.875rem;
                text-align: left


    .left-col
        margin: 0 auto;
        width: calc(100% - 11rem);
        margin-bottom: 1.5rem;

        p
            font-family: IBMPlexSans-Regular;
            line-height: 1.4;

            &.p-with-margin
                margin-left: 17px;

        .extended-section
            position: relative;
            margin-right: -9.5rem;

        .column-list
            columns: 3;
            column-gap: 1em;
            font-family: IBMPlexSans-Regular;
            max-width: 100%;
            text-align: left;
            font-size: 1rem!important;
            padding-bottom: 1em;

            @media screen and (max-width: 600px)
                columns: 1;

            .img-caption
                font-size: 0.7em;
                line-height: 1;
                display: block;
                margin: 0.5rem 0;

            .lp-nodozitati
                margin-left: -25%;

                @media screen and (max-width: 600px)
                    margin: 0;

            .lp-bacterii
                margin-top: -20%;
                margin-right: -15%;

                @media screen and (max-width: 600px)
                    margin: 0;

            img
                max-width: 150px;

                @media screen and (max-width: 600px)
                    max-width: 200px;
                    margin: 0 auto;
