.neg5-header
    margin-left: -1.6rem;
    margin-right: -1.6rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    color: #fff;

    .unit
         float: left;
    .nr
         display: inline-block;

         @media (min-width: 576px)
            float: left;
            z-index: 1;

    .unit, .nr
        position: relative;
        padding: 0;
        width: 5rem;
        height: 5rem;
        text-align: center;
        line-height: 5rem;
        text-transform: uppercase;
        font-family: "IBMPlexSerif-Light";

    .title
        position: relative;
        padding: 1.75rem 1.6rem;
        font-weight: 500;
        font-size: 1.1rem;
        text-align: left;
        line-height: 1.5rem;
        font-family: "IBMPlexSans-Light";

        @media (min-width: 576px)
            z-index: 1;
            float: left;
            width: calc(100% - 10rem);
            padding: 1.75rem 1.6rem;

    &.blue
         background-color: #00458b;

         .title
             background-color: #0055a6;
    &.green
         background-color: #81a32b;

         .title
             background-color: #acc32a;

    &.right
        .nr, .unit
            @media (min-width: 576px)
                float: right;