.section-bar
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    font-size: 1rem;
    padding: 0 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    position: relative;

    p
        margin: 0.5rem;

    strong
        font-family: IBMPlexSans-Bold;

    img
        max-height: 38px;
        margin-right: 0.5rem;