+title("Chapter 1")
+subtitle("Intro")


+page-number-header('28', 'U2', 'Grupe de viețuitoare în mediile lor de viață', true)

div.lfa-atom.well.row.p28.d-flex.align-items-stretch
    aside.left-col
        div.col-section
            h4.dark-orange ORIGINEA CUVINTELOR
            p În limba greacă, MIKROS = mic. În limba latină, ORGANISMUS = organism.

        div.col-section
            h4.dark-green INTERESANT ȘI UTIL
            p
                | În unele surse de documentare, termenul
                | #{' '}
                em microorganism
                | #{' '}
                | este considerat sinonim cu cel de
                | #{' '}
                em microb.
                | #{' '}
                | În România, din punct de vedere științific, această sinonimie nu este acceptată, termenul de
                | #{' '}
                em microb
                | #{' '}
                | fiind folosit în domeniul medical doar pentru bacteriile patogene (cele care cauzează boli).

        div.col-section
            h4.dark-green INTERDISCIPLINAR
            p
                | Bacteriile se înmulțesc foarte repede atunci când au condiții optime. De exemplu,
                | #{' '}
                em Escherichia coli
                | #{' '}
                | (sau
                em E. coli
                | #{' '}
                | ), bacterie prezentă pe corp în mod normal, se divide la fiecare 20 de minute.
            +img('img/p28-coloana.png')
            p
                | Presupunând că aveți o cultură de
                | #{' '}
                em E. coli
                | #{' '}
                | care la ora 12.00 numără 2 bacterii, calculați numărul bacteriilor din cultură la ora 14.00.

    div.right-col
        div.lfa-atom.well.center-block
            h2.page-subtitle.green Bacteriile

        +section-bar('remember')
        p.mb-0.mt-0
          span.color-red Lucrați în perechi.
          |  Notați în caiete ce grupe de viețuitoare cunoașteți din clasele primare.
        p.mb-0.mt-0
          span.pl-1 Amintiți-vă ce ați învățat în lecția
          em  Să explorăm lumea vie în laborator
          | #{' '}
          | despre viețuitoarele
          | prea mici pentru a fi văzute cu ochiul liber. Cum pot fi observate aceste viețuitoare?
          | Utilizați surse de documentare (cărți, internet) și notați exemple de viețuitoare
          | ce pot fi observate cu ochiul liber și de viețuitoare care pot fi observate utilizând instrumente
          | (de exemplu, microscopul, lupa). Din ce sunt alcătuite toate viețuitoarele?

        +section-bar('learn')
        p.mb-0.mt-0
          | Toate viețuitoarele, de la cele mai simple până la cele mai complexe, sunt alcătuite din
          em  celule.
          | #{' '}
          | Componentele de bază ale celulei sunt:
          | #{' '}
          em membrana,
          | #{' '}
          em citoplasma,
          | #{' '}
          em nucleul.
        p.mb-0.mt-0
            span.pl-1 Viețuitoarele alcătuite dintr-o singură celulă se numesc
            strong  unicelulare
            | , cele alcătuite
            | din mai multe celule se numesc
            strong  pluricelulare
            | . Viețuitoarele prea mici pentru a putea
            | fi văzute cu ochiul liber și care pot fi observate doar la microscop se numesc
            strong  microorganisme
            | .

        +section-bar('discover')
        p.mb-0.mt-0
            span.color-blue Lucrați în perechi.
            |  Folosiți-vă de cunoștințele voastre și de sursele de informare și notați
            | răspunsurile la întrebările de mai jos. Discutați apoi cu profesorul.

            ol.letters
               li
                    | De ce trebuie să vă spălați pe mâini, în special înainte de a mânca sau după ce ați
                    | pus mâna pe animale?
               li
                    | De ce spălăm fructele și legumele? Credeți că e bine să fie spălată carnea crudă înainte
                    | de a o prepara? Unde anume în frigider ar trebui păstrată carnea: pe rafturile de
                    | sus sau pe raftul cel mai de jos? Argumentați răspunsul.
               li
                    | De ce credeți că se recomandă consumul produselor lactate care conțin
                    | #{' '}
                    em probiotice
                    | ?
                    | Ce credeți că sunt probioticele?
               li
                    | De ce credeți că terenurile agricole sunt cultivate la intervale regulate de timp cu
                    | lucernă sau trifoi, iar în grădini, diferite culturi sunt alternate cu fasole sau mazăre?

        +section-bar('learn', undefined, true, 'static', 'content-preview')

        p.mb-0.mt-0
            strong Bacteriile
            |  sunt microorganisme unicelulare, întâlnite peste tot în mediu: în apă, aer, sol, în
            | regiuni extrem de calde sau reci, în izvoare termale etc., dar și pe corpul viețuitoarelor și
            | în interiorul organismului acestora (de exemplu, flora intestinală).
            | #{' '}
            em Bacteriile nu au nucleu.
        p.mb-0.mt-0
            | În condiții prielnice, se înmulțesc foarte repede, prin diviziune (fiecare celulă se
            | împarte în două celule‑fiice). Unele bacterii, numite
            strong  patogene
            | , pot cauza boli (de exemplu,
            | infecții ale pielii – stafilococul auriu, pneumonie – streptococul). Respectarea
            | regulilor de igienă poate preveni semnificativ înmulțirea acestor bacterii. Peste 70%
            | dintre bacterii sunt însă
            strong  non-patogene
            | , iar unele sunt benefice atât oamenilor (bacteriile
            | lactice utilizate în industria laptelui, bacteriile din flora intestinală), cât și animalelor
            | (bacteriile din stomac) și plantelor (bacteriile fixatoare de azot).
            | Bacteriile pot avea forme diferite. Cele trei forme principale de bacterii sunt:

        div.row.d-flex.m-0
            div.col-3.text-center
                +img('img/p28-retinem-coci.jpg')
                p.mt-0 Coci
            div.col-3.text-center
                +img('img/p28-retinem-bacili.jpg')
                p.mt-0 Bacili
            div.col-3.text-center
                +img('img/p28-retinem-spirili.jpg')
                p.mt-0 Spirili

+page-number-header('29', 'L1', 'Bacteriile', false)

div.lfa-atom.well.p29.row.d-flex.align-items-stretch
    div.left-col
        div.bg-light-orange.extended-section
            +section-bar('practice')
            div.section-subtitle.color-orange.pl-1.pr-1 Bacteriile fixatoare de azot
            ul.bullets.orange-bullets.pl-1.pr-1
                li
                    span.color-orange Scopul lucrării:
                    | #{' '}
                    | observarea bacteriilor fixatoare de azot din nodozități.
                li
                    span.color-orange Materiale necesare:
                    | #{' '}
                    | lupă, microscop, lame, lamele, pipete, ace de microscopie (sau scobitori), apă, tavă sau
                    | ziar, riglă, plante de lucernă cu nodozități, aparat foto sau camera foto a telefonului mobil.
                li
                    span.color-orange Mod de lucru:
                    | #{' '}
                    | în perechi.

            div.column-list.pl-1.pr-1
                ol.numbers.orange-numbers
                    li
                        | Lucrați deasupra tăvii sau a ziarului și îndepărtați cu
                        | răbdare pământul din jurul rădăcinilor plantei de lucernă.
                        | Căutați umflături mici, numite nodozități, pe rădăcini.
                    li
                        | Folosiți rigla sau un alt obiect ca reper. Fotografiați planta
                        | în întregime, având alături obiectul-reper.
                        | Estimați mărimea nodozităților.
                    li
                        | Folosiți lupa pentru a observa forma și culoarea nodozităților.
                    li
                        | Pregătiți o lamă și o lamelă de microscopie. Plasați în centrul
                        | lamei o picătură de apă.
                    li
                        | Cu acul de microscopie sau cu o scobitoare, deschideți
                        | nodozitatea pe lungimea ei. Plasați cele două jumătăți în
                        | picătura de apă de pe lama de microscopie și așezați peste
                        | ele lamela, începând din poziție înclinată.
                    li
                        | Observați preparatul la microscop. Începeți cu un
                        | obiectiv având putere de mărire mică (de 4 ori sau de 10 ori),
                        | apoi observați doar o regiune cu un obiectiv de putere mai
                        | mare (de 20 de ori sau de 40 de ori). Puteți număra
                        | bacteriile care se găsesc într-o nodozitate?
                        div.inline-block
                            +img('img/p29-lucrare-practica-lucerna.jpg')
                            span.img-caption Lucernă cu rădăcini
                    li
                        | Realizați un desen schematic în care să redați, în ordinea
                        | succesivă a pașilor de observare, localizarea și
                        | alcătuirea nodozităților.
                        div.row.d-flex.align-items-flex-start.lp-nodozitati
                            div.col
                                +img('img/p29-lucrare-practica-nodozitati.png')
                            div.col
                                span.img-caption.p-0 Nodozități de pe rădăcina de lucernă
                        div.row.d-flex.align-items-flex-end.lp-bacterii
                            div.col
                                span.img-caption.p-0 Bacterii fixatoare de azot din nodozitățile de lucernă
                            div.col
                                +img('img/p29-lucrare-practica-bacterii.png')
        div.pl-1.pr-1.pb-1.bg-light-orange
            ul.bullets.orange-bullets
                li.pb-0.mb-0
                    span.color-orange Formulăm concluzii:
                    | #{' '}
                    strong
                        | Plantele oferă bacteriilor adăpost, formând nodozități
                        | la nivelul rădăcinii. Bacteriile furnizează plantelor azot și primesc în schimb
                        | hrană, stabilind astfel o relație de simbioză, în care cele două organisme se
                        | ajută reciproc.
            p.mt-0.p-with-margin
                | Plantele au nevoie de azot pentru a crește. Deși în aer există mult azot, plantele
                | pot absorbi doar azotul aflat în sol. Atunci când cantitatea scade, unele plante
                | (fasolea, trifoiul) pot chema în ajutor bacterii capabile să utilizeze azotul din aer.

        +section-bar('apply', undefined, true, 'interactiv', 'interaction')

        div.section-subtitle.color-purple Modelarea bacteriilor
        ul.bullets.purple-bullets
            li.m-0
                span.color-purple Materiale necesare:
                | #{' '}
                | plastilină, imagini cu diferite bacterii, surse de documentare.
            li
                span.color-purple Mod de lucru:
                | #{' '}
                | în grupe, 3-4 elevi

        ol.letters.purple-letters
           li
                | Alegeți o bacterie din imagini. Realizați din plastilină un mulaj al acesteia. Documentați-
                | vă despre această bacterie și creați un text scurt (narativ, versuri, ghicitoare) de
                | prezentare a acesteia.
           li
                | Creați, de asemenea, o bacterie imaginară. Alegeți una dintre formele pe care le
                | pot avea celulele bacteriilor, dați-i un nume și notați-l pe o etichetă, menționând
                | dacă bacteria imaginată este benefică sau patogenă.
           li
                | Realizați o expoziție în școală cu mulajele bacteriilor și textele asociate acestora.


    aside.right-col
        div.col-section
            h4.dark-green EDUCAȚIE PENTRU SĂNĂTATE
            p
               | Bacteriile patogene pot fi distruse cu ajutorul antibioticelor. Dar nu orice antibiotic este
               | eficient pentru orice tip de bacterie. Unele bacterii au rezistență sau
               | pot deveni rezistente la anumite antibiotice, prin utilizarea excesivă a
               | acestora. De altfel, aceste medicamente pot distruge și bacteriile benefice din
               | corpul uman, de aceea antibioticele nu se iau la întâmplare, ci numai conform recomandărilor
               | medicului.


